$lightgreen : rgb(31, 222, 99);

body {
    font-family: 'Lato', sans-serif;
  background: black;
  color: white;
}

nav {
  background-color: #272727;
  top:0;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.bubbleSpace {
  min-height: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
}

.bubble {
  cursor: pointer;
  margin: 8px;
  position: relative;
  color: white;
  border-radius: 600px;
  background-position: center;
  background-size: cover;
  display: block;
  float: left;
  transition: all 0.3s ease-out;
  text-align: center;
}
.playing:after {
  content: '';
  border-radius: 600px;
  position: relative;
  background-color: $lightgreen;
  height: 105%;
  width: 105%;
  display: block;
  z-index: -1;
  animation: playRotate 8s linear infinite;
}

@keyframes playRotate {
  0%{
    transform: translateX(1%) translateY(1%);
  }
  33%{
    transform: translateX(3%) translateY(-5%);
  }
  66%{
    transform: translateX(-5%) translateY(-3%);
  }
  100%{
    transform: translateX(1%) translateY(1%);
  }
}


.smallBub {
  width: 300px !important;
  height: 300px !important;
}


.innerBubble {
  padding-top: 20%;
  text-align: center;
  display: none;
  border-radius: 600px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(31, 222, 99, 0.5);
}

footer {
  padding-top: 15px;
  background-color: #272727;
  bottom:0;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

footer .daCenter {
  text-align: center;
}

footer i.fa {
  color: #979797;
  font-size: 28px;
  margin: 12px;
}

.musicBar {
  left: 50%;
  margin-left: -125px;
  position: relative;
  width: 250px;
  height: 4px;
  border: 1px solid #979797;
  border-radius: 4px;
}
