$lightgreen : #1FDE63;

body {
    font-family: 'Lato', sans-serif;
  background: black;
  color: white;
}

nav {
  background-color: #272727;
  top:0;
  height: 45px;
  width: 100%;
  position: fixed;
  z-index: 99;
}
nav h3 {
  margin-top: 10px;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: transparent;
}

#genres {
  position: absolute;
  right: 0;
  top: 10px;
  width: 180px;
}

.menu-2 {
  padding-left: 0;
}


#GenreOnView {
  float: left;
}

.bubbleSpace {
  min-height: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
}

.bubble {
  float: left;
  margin: 0.5em;
  position: relative;
  cursor: pointer;
  color: white;
  border-radius: 600px;
  background-position: center;
  background-size: cover;
  display: block;
  transition: all 0.3s ease-out;
  text-align: center;
  border: 1px solid $lightgreen;
  &:hover {
    .innerBubble{
      display: block;
    }
  }
}
.playing{
  .innerBubble{
    display: block;
  }
  &:after {
    content: '';
    border-radius: 600px;
    position: relative;
    background-color: $lightgreen;
    height: 105%;
    width: 105%;
    display: block;
    z-index: -1;
    animation: playRotate 8s linear infinite;
  }
}

.btn-nothing {
  background-color: transparent;
}

@keyframes playRotate {
  0%{
    transform: translateX(1%) translateY(1%);
  }
  33%{
    transform: translateX(3%) translateY(-5%);
  }
  66%{
    transform: translateX(-5%) translateY(-3%);
  }
  100%{
    transform: translateX(1%) translateY(1%);
  }
}


.smallBub {
  width: 300px !important;
  height: 300px !important;
}

.removing {
  display: none;
}


.innerBubble {
  padding-top: 20%;
  text-align: center;
  display: none;
  border-radius: 600px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fc6540; /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(252,101,64,0.6) 0%,  rgba(123,53,244,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(252,101,64,0.6) 0%, rgba(123,53,244,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(252,101,64,0.6) 0%, rgba(123,53,244,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6540', endColorstr='#7b35f4',GradientType=1 ), blur(5px); /* IE6-9 fallback on horizontal gradient*/
}

footer {
  padding-top: 15px;

  bottom:0;
  min-height: 100px;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding-bottom: 15px;
}

.blur   {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #A5A5A5;
  top: 0;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(30px);
  &:before {
    content: '';
    width: 100%;
    height: 70%;
    bottom: 0px;
    background-color:white;
  position: absolute;
  filter: blur(30px);
  }
}

footer .daCenter {
  text-align: center;
}

footer i.fa {
  color: black;
  font-size: 28px;
  margin: 12px;
}

#defualtBar {
  display: block;
  left: 50%;
  margin-left: -125px;
  position: relative;
  width: 250px;
  height: 4px;
  border: 1px solid #979797;
  border-radius: 4px;
}

#progressBar {
  width: 0px;
  height: 4px;
  background-color: $lightgreen;
  position: absolute;
}

.lilAlbum {
  height: 80px;
  width: 80px;
}

#vSlider {
  max-width: 70px
}
